@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Flight/_flightLayout.cshtml";

}


    <!-- Page Content  -->
    <div id="content">
        <!-- Page header -->
        <div class="page-header">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h4><span class="font-weight-semibold">Dashboard</span></h4>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

                <div class="header-elements d-none py-0 mb-3 mb-md-0">
                    <div class="breadcrumb">
                        <a href="index.html" class="breadcrumb-item active"><i class="icon-home2 mr-2"></i> Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->
        <!-- Page content -->
        <div class="page-content pt-0">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Content area -->
                <div class="content">
                    <div class="card border-warning">
                        <div class="card-header bg-warning text-white header-elements-inline">
                            <h5 class="card-title">Dashboard</h5>

                        </div>
                        <div class="card-body">
                            <h6>Dashboard Area</h6>
                        </div>
                    </div>
                </div>
                <!-- /content area -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->
    </div>


